/* addin-font-family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* shape-font-family */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
body{
    background-color: black;
    font-family: "Inter", sans-serif;
}





/* shared-style */

 .primary-btn{
   border-radius: 28px;
   padding:10px 16px 10px 16px;
   border: none;
   background: rgb(230, 83, 60);
   color: rgb(255, 255, 255);
   font-size: 12px;

}


header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    max-width: 90%;
    height: 715px;
    padding: 19px 29px 19px 29px;
    margin: 0 auto;
}

/* navigation-bar-starts-here */

.logo{
    color: rgb(230, 83, 60);
}

.logo h2{
    font-style: italic; 
    font-size: 3rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;
    width: 90%;
    margin: 2rem auto;
    
}

nav ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    
}
li span{
   background-color: rgb(230, 83, 60);
   border-radius: 39px;
   padding: 4px 10px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

/* navigation-bar-ends-here */


/* banner-section-start-here */

#banner-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 20%;

}



.title-corner{
    width: 400px;
    height: 294px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-corner h1{
 color: rgb(255, 255, 255);
 font-size: 52px;
 font-weight:900;
 line-height: 120%;
 text-align: left;
}

.title-corner  .shape-span{
  font-family: "Dancing Script", cursive;
  font-size: 5.5rem;
}

.title-corner p{
color: rgba(255, 255, 255, 0.5);
font-size: 10px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.5px;
text-align: left;
margin-bottom: 20px;
}



.title-corner .app-btn{
    border-radius: 28px;
   padding:10px 16px 10px 16px;
   border: 1px solid rgb(112, 109, 109);
   color: rgb(146, 136, 136);
   background: transparent;
}

/* hero-ection-image */

.hero-image {
  background-image: url(../assets/Images\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 570px;
  width: 360px;
}

.card{
    width: 129px;
    height: 65px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-top: 40%;
    margin-left: 60%;

}
.card h2{
    color: rgb(255, 255, 255);
}
.card p{
    text-align: left;
    font-size: 11px;
    color: rgb(180, 193, 204);
}

.parent-card{
    display: flex;
}
.parent-card span{
   margin-top: 10px;
   margin-right: 5px; 
   border-radius: 50%;
   width: 30px;
   height: 30px;
   background: rgb(230, 83, 60);;
}
.parent-card h2{
  font-size: 21px;

}
.card-2{
    width: 129px;
    height: 65px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 6px 10px 6px 10px;
    margin-top:60%;


}
.card-2 h2{
     color: rgb(255, 255, 255);
}

.card-2 p{
    text-align: left;
    font-size: 11px;
    color: rgb(180, 193, 204);
}

/* banner-section-end here */


/* habit-section */

#habit-section{
    width: 65%;
    height: 420px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.title-peremiter{
    text-align: center;
    margin: 0 auto;
    width: 450px;
}

.title-peremiter h3{
    color: white;
    font-size: 2rem;
    padding-bottom: 7px;
}

.title-peremiter p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    margin-bottom: 25px;
}


.img-corner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

}

.card-1{
    height: 250px;
    width:157px;
    margin: 0 auto;

}

.card-1 img{
    width: 154px;
    border-radius: 50%;
}

.card-1 h4{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;

}
.card-1 p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.6rem;
    line-height: 12px;
   
}

/* habit-section-end here */

#run-section{
     width: 65%;
    height: 350px;
    border: 2px solid white;
    margin: 5rem auto;
    border-radius: 12px;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-div{
    text-align: left;
}

.title-div h3{
    font-size: 49px;
    color: white;
}

.title-div p{
    color: rgba(255, 255, 255, 0.5);
font-size: 10px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.5px;
text-align: left;
}